/**color by character**/
/** Font family **/
/** Font weight **/
.shipments-update-item__display-block___gJ2Zt {
  display: block;
}
.shipments-update-item__inline-block___N7HoZ,
.shipments-update-item__inlineBlock____ZFFD {
  display: inline-block;
}
.shipments-update-item__flex-row___Xy1PD {
  display: flex;
}
.shipments-update-item__flex-column___vT8Z6,
.shipments-update-item__flexColumn___E1ktg {
  display: flex;
  flex-direction: column;
}
.shipments-update-item__flex-align-center___KVMwV,
.shipments-update-item__flexAlignCenter___BEArc {
  display: flex;
  align-items: center;
}
.shipments-update-item__flex-justify-center___OtVjs,
.shipments-update-item__flexJustifyCenter___VHix3 {
  display: flex;
  justify-content: center;
}
.shipments-update-item__flex-center____k3HB,
.shipments-update-item__flexCenter___gNhav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipments-update-item__justify-start___QAcYh,
.shipments-update-item__justifyStart___SY2Hz {
  justify-content: flex-start;
}
.shipments-update-item__justify-end___NDJfP,
.shipments-update-item__justifyEnd___GiUu3 {
  justify-content: flex-end;
}
.shipments-update-item__justify-between___UZolJ,
.shipments-update-item__justifyBetween___YuS15 {
  justify-content: space-between;
}
.shipments-update-item__justify-around___r2B96,
.shipments-update-item__justifyAround___fup5D {
  justify-content: space-around;
}
.shipments-update-item__justify-evenly___MFawh,
.shipments-update-item__justifyEvenly___vZSeK {
  justify-content: space-evenly;
}
h1,
.shipments-update-item__h1___oBX97 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h1,
  .shipments-update-item__h1___oBX97 {
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.shipments-update-item__h2___TWMTO {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h2,
  .shipments-update-item__h2___TWMTO {
    font-size: 32px;
    line-height: 42px;
  }
}
h3,
.shipments-update-item__h3___e12gn {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 769px) {
  h3,
  .shipments-update-item__h3___e12gn {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 28px;
    line-height: 36px;
  }
}
h4,
.shipments-update-item__h4___UL6QB {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (min-width: 769px) {
  h4,
  .shipments-update-item__h4___UL6QB {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 20px;
    line-height: 1.5;
  }
}
h5,
.shipments-update-item__h5___YBg_a {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h5,
  .shipments-update-item__h5___YBg_a {
    font-size: 16px;
    line-height: 18px;
  }
}
.shipments-update-item__b1___M8dge {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
}
@media only screen and (min-width: 769px) {
  .shipments-update-item__b1___M8dge {
    font-size: 16px;
    line-height: 20px;
  }
}
.shipments-update-item__b-small___qBzrN,
.shipments-update-item__bSmall___TKnVK,
.shipments-update-item__b2___aIMMa {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 769px) {
  .shipments-update-item__b-small___qBzrN,
  .shipments-update-item__bSmall___TKnVK,
  .shipments-update-item__b2___aIMMa {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--textBody, #3c3131);
    font-size: 14px;
    line-height: 18px;
  }
}
.shipments-update-item__d1___sEXDM {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 769px) {
  .shipments-update-item__d1___sEXDM {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: -0.03em;
  }
}
.shipments-update-item__caption-medium___e2eH7,
.shipments-update-item__captionMedium___j4gnY {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__caption-medium___e2eH7,
  .shipments-update-item__captionMedium___j4gnY {
    font-size: 11px;
  }
}
.shipments-update-item__caption-semi-bold___gc2RD,
.shipments-update-item__captionSemiBold___fGkPk {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__caption-semi-bold___gc2RD,
  .shipments-update-item__captionSemiBold___fGkPk {
    font-size: 11px;
  }
}
.shipments-update-item__btn-link___Q6kcV,
.shipments-update-item__btnLink___TM4TP {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  color: var(--buttonLink, #b1655b);
  text-decoration: underline;
  background: none;
  border: none;
}
@media only screen and (min-width: 769px) {
  .shipments-update-item__btn-link___Q6kcV,
  .shipments-update-item__btnLink___TM4TP {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
.shipments-update-item__btn-link___Q6kcV:hover,
.shipments-update-item__btnLink___TM4TP:hover {
  color: var(--buttonLinkL1, #c1847c);
}
.shipments-update-item__btn-link___Q6kcV:disabled,
.shipments-update-item__btnLink___TM4TP:disabled {
  color: var(--buttonLinkL2, #d0a39d);
}
.shipments-update-item__btn-link___Q6kcV:active,
.shipments-update-item__btnLink___TM4TP:active {
  opacity: 0.8;
}
.shipments-update-item__user-select-none___dpa9v,
.shipments-update-item__userSelectNone___ThRlw {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.shipments-update-item__margin-0-auto___JtZt5,
.shipments-update-item__margin0auto___HI3m6 {
  margin: 0 auto;
}
.shipments-update-item__base-page-container___YKSDh,
.shipments-update-item__basePageContainer___KsPRz {
  max-width: 1440px !important;
}
.shipments-update-item__remove-scroll___VMwHc,
.shipments-update-item__removeScroll___g5_na {
  overflow-y: hidden !important;
}
.shipments-update-item__mr-5___OKPgq,
.shipments-update-item__mr5___ktkZU {
  margin-inline-end: 30px !important;
}
.shipments-update-item__mr-2___i7uF8,
.shipments-update-item__mr2___sw0Zt {
  margin-inline-end: 5px !important;
}
.shipments-update-item__py-5___ELXSn,
.shipments-update-item__py5___Acslp {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.shipments-update-item__view-all-text___Aq4vL,
.shipments-update-item__viewAllText___ZY4Fw {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}
.shipments-update-item__view-all-mobile___Peghs,
.shipments-update-item__viewAllMobile___ro_bp {
  display: none;
}
@media only screen and (max-width: 768px) {
  .shipments-update-item__view-all-mobile___Peghs,
  .shipments-update-item__viewAllMobile___ro_bp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__view-all-mobile___Peghs,
  .shipments-update-item__viewAllMobile___ro_bp {
    margin-top: 24px;
  }
}
.shipments-update-item__accent-btn___m3w1l,
.shipments-update-item__accentBtn___Gpc11 {
  background-color: var(--accentColor);
  color: #fff;
}
.shipments-update-item__no-scroll___vCfz4,
.shipments-update-item__noScroll___A8jT_ {
  overflow-y: hidden;
}
.shipments-update-item__hide-overflow___F0B9Y,
.shipments-update-item__hideOverflow___anvY8 {
  overflow: hidden;
}
.shipments-update-item__markdown-body___anvZX h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__markdown-body___anvZX {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.shipments-update-item__view3d-canvas___hjqeL {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__view-mobile-up___Mmsza {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .shipments-update-item__view-mobile___YK2hh {
    display: none !important;
  }
}
.shipments-update-item__updateItem___SC6gf {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 768px) {
  .shipments-update-item__updateItem___SC6gf {
    padding: 0 16px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagImg___bn385 {
  flex: 0 0 80px;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy {
    flex-direction: column;
    align-items: flex-start;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__brandName___BBTfc {
  margin-bottom: 5px;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__boldxxxs___kNBJL {
  font-weight: 700;
  font-size: 16px;
  color: var(--textHeading, #26201a);
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__boldxxxs___kNBJL {
    font-size: 11px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__lightxxxs___gsnV_ {
  font-weight: 300;
  font-size: 12px;
  color: var(--textBody, #3c3131);
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__lightxxxs___gsnV_ {
    font-size: 11px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R {
  display: flex;
  gap: 5px;
  width: 100%;
  background: var(--pageBackground, #f8f8f8);
  padding: 5px 0;
  box-sizing: border-box;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R .shipments-update-item__sizeContainer___wfP66 {
  height: 32px;
  background: white;
  padding: 8px;
  border: 1px solid var(--dividerStokes, #d4d1d1);
  font-size: 12px;
  font-weight: 600;
  color: var(--textHeading, #26201a);
  white-space: nowrap;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R .shipments-update-item__sizeContainer___wfP66 .shipments-update-item__regular-xxs___BJaPb {
  font-weight: 400;
  font-size: 13px;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R .shipments-update-item__sizeContainer___wfP66 .shipments-update-item__regular-xxs___BJaPb {
    font-size: 12px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R .shipments-update-item__sizeContainer___wfP66 .shipments-update-item__regular-xxs___BJaPb .shipments-update-item__bold-xxs___DQC8U {
  font-weight: 700;
  font-size: 13px;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__sizeQuantityContainer___gDz7R .shipments-update-item__sizeContainer___wfP66 .shipments-update-item__regular-xxs___BJaPb .shipments-update-item__bold-xxs___DQC8U {
    font-size: 12px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__priceContainer___vgOcX {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--textHeading, #26201a);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__darkLg___HKneB {
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__darkLg___HKneB {
    font-size: 16px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__lightxxs___dO6LO {
  font-weight: 300;
  font-size: 13px;
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__bagInfo___RyCGy .shipments-update-item__lightxxs___dO6LO {
    font-size: 12px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF {
  position: relative;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF .shipments-update-item__maxAvail___VZxqT {
  color: var(--errorText, #ff3333);
  margin-block-start: 4px;
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF .shipments-update-item__regularxxxs___TZVpA {
  font-weight: 400;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF .shipments-update-item__regularxxxs___TZVpA {
    font-size: 11px;
  }
}
@media only screen and (max-width: 480px) {
  .shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF .shipments-update-item__regularxxxs___TZVpA {
    font-size: 11px;
  }
}
.shipments-update-item__updateItem___SC6gf .shipments-update-item__qtyCtrl___qDcgF /deep/ .shipments-update-item__qty-control___KV5G_ .shipments-update-item__qty-amount___I3U7G input {
  padding: 2px 0px;
}
.shipments-update-item__modifyQtyController___Zvw1e {
  height: 32px;
}

/**color by character**/
/** Font family **/
/** Font weight **/
.quantity-ctrl__display-block___aa0rc {
  display: block;
}
.quantity-ctrl__inline-block___AGXjR,
.quantity-ctrl__inlineBlock___qVc_3 {
  display: inline-block;
}
.quantity-ctrl__flex-row___VLrHi {
  display: flex;
}
.quantity-ctrl__flex-column___Os3R_,
.quantity-ctrl__flexColumn___c2s9n {
  display: flex;
  flex-direction: column;
}
.quantity-ctrl__flex-align-center___DZGZ2,
.quantity-ctrl__flexAlignCenter___y2XqW {
  display: flex;
  align-items: center;
}
.quantity-ctrl__flex-justify-center___SFVBb,
.quantity-ctrl__flexJustifyCenter___ruV48 {
  display: flex;
  justify-content: center;
}
.quantity-ctrl__flex-center___Mg2LD,
.quantity-ctrl__flexCenter___TJS8S {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-ctrl__justify-start___Ll9Wq,
.quantity-ctrl__justifyStart___fIO7m {
  justify-content: flex-start;
}
.quantity-ctrl__justify-end___ynkW3,
.quantity-ctrl__justifyEnd___WzxyX {
  justify-content: flex-end;
}
.quantity-ctrl__justify-between___zwFKn,
.quantity-ctrl__justifyBetween___xKVc7 {
  justify-content: space-between;
}
.quantity-ctrl__justify-around___c4Qj5,
.quantity-ctrl__justifyAround___NaliR {
  justify-content: space-around;
}
.quantity-ctrl__justify-evenly___VgSuS,
.quantity-ctrl__justifyEvenly___p37yO {
  justify-content: space-evenly;
}
h1,
.quantity-ctrl__h1___YQT3t {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h1,
  .quantity-ctrl__h1___YQT3t {
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.quantity-ctrl__h2___Xuxga {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h2,
  .quantity-ctrl__h2___Xuxga {
    font-size: 32px;
    line-height: 42px;
  }
}
h3,
.quantity-ctrl__h3___ddous {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 769px) {
  h3,
  .quantity-ctrl__h3___ddous {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 28px;
    line-height: 36px;
  }
}
h4,
.quantity-ctrl__h4___p9djG {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (min-width: 769px) {
  h4,
  .quantity-ctrl__h4___p9djG {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 20px;
    line-height: 1.5;
  }
}
h5,
.quantity-ctrl__h5___Gp9MI {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h5,
  .quantity-ctrl__h5___Gp9MI {
    font-size: 16px;
    line-height: 18px;
  }
}
.quantity-ctrl__b1___q07OF {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
}
@media only screen and (min-width: 769px) {
  .quantity-ctrl__b1___q07OF {
    font-size: 16px;
    line-height: 20px;
  }
}
.quantity-ctrl__b-small___hjfwO,
.quantity-ctrl__bSmall___Qk1Jr,
.quantity-ctrl__b2___SuAic {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 769px) {
  .quantity-ctrl__b-small___hjfwO,
  .quantity-ctrl__bSmall___Qk1Jr,
  .quantity-ctrl__b2___SuAic {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--textBody, #3c3131);
    font-size: 14px;
    line-height: 18px;
  }
}
.quantity-ctrl__d1___Zy0LY {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 769px) {
  .quantity-ctrl__d1___Zy0LY {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: -0.03em;
  }
}
.quantity-ctrl__caption-medium___DIRyS,
.quantity-ctrl__captionMedium___dKA8v {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .quantity-ctrl__caption-medium___DIRyS,
  .quantity-ctrl__captionMedium___dKA8v {
    font-size: 11px;
  }
}
.quantity-ctrl__caption-semi-bold___rirfZ,
.quantity-ctrl__captionSemiBold___iIOPk {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .quantity-ctrl__caption-semi-bold___rirfZ,
  .quantity-ctrl__captionSemiBold___iIOPk {
    font-size: 11px;
  }
}
.quantity-ctrl__btn-link___mJhFV,
.quantity-ctrl__btnLink___1Jg_z {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  color: var(--buttonLink, #b1655b);
  text-decoration: underline;
  background: none;
  border: none;
}
@media only screen and (min-width: 769px) {
  .quantity-ctrl__btn-link___mJhFV,
  .quantity-ctrl__btnLink___1Jg_z {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
.quantity-ctrl__btn-link___mJhFV:hover,
.quantity-ctrl__btnLink___1Jg_z:hover {
  color: var(--buttonLinkL1, #c1847c);
}
.quantity-ctrl__btn-link___mJhFV:disabled,
.quantity-ctrl__btnLink___1Jg_z:disabled {
  color: var(--buttonLinkL2, #d0a39d);
}
.quantity-ctrl__btn-link___mJhFV:active,
.quantity-ctrl__btnLink___1Jg_z:active {
  opacity: 0.8;
}
.quantity-ctrl__user-select-none___U173Y,
.quantity-ctrl__userSelectNone___FxLtG {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.quantity-ctrl__margin-0-auto___ClVmg,
.quantity-ctrl__margin0auto___N5LC2 {
  margin: 0 auto;
}
.quantity-ctrl__base-page-container___yp60K,
.quantity-ctrl__basePageContainer___muk53 {
  max-width: 1440px !important;
}
.quantity-ctrl__remove-scroll___EfYFS,
.quantity-ctrl__removeScroll___ypu8m {
  overflow-y: hidden !important;
}
.quantity-ctrl__mr-5___kmh67,
.quantity-ctrl__mr5___CFB_e {
  margin-inline-end: 30px !important;
}
.quantity-ctrl__mr-2___cU7kf,
.quantity-ctrl__mr2___HK0ti {
  margin-inline-end: 5px !important;
}
.quantity-ctrl__py-5___etXc7,
.quantity-ctrl__py5___t9UTF {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.quantity-ctrl__view-all-text___GhMHN,
.quantity-ctrl__viewAllText___rPYX1 {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}
.quantity-ctrl__view-all-mobile___KGadx,
.quantity-ctrl__viewAllMobile___b8mxL {
  display: none;
}
@media only screen and (max-width: 768px) {
  .quantity-ctrl__view-all-mobile___KGadx,
  .quantity-ctrl__viewAllMobile___b8mxL {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .quantity-ctrl__view-all-mobile___KGadx,
  .quantity-ctrl__viewAllMobile___b8mxL {
    margin-top: 24px;
  }
}
.quantity-ctrl__accent-btn___UZttg,
.quantity-ctrl__accentBtn___p0n9c {
  background-color: var(--accentColor);
  color: #fff;
}
.quantity-ctrl__no-scroll___PABdD,
.quantity-ctrl__noScroll___F1FHt {
  overflow-y: hidden;
}
.quantity-ctrl__hide-overflow___MFJHV,
.quantity-ctrl__hideOverflow___SlNFa {
  overflow: hidden;
}
.quantity-ctrl__markdown-body___hdCV4 h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  .quantity-ctrl__markdown-body___hdCV4 {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.quantity-ctrl__view3d-canvas___GWAb8 {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .quantity-ctrl__view-mobile-up___cl6UD {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .quantity-ctrl__view-mobile___wY9TG {
    display: none !important;
  }
}
.quantity-ctrl__qtyControl___LvP42 {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--dividerStokes, #d4d1d1);
  border-radius: 3px;
}
.quantity-ctrl__qtyControl___LvP42 .quantity-ctrl__operator___HaYJA {
  background: var(--pageBackground, #f8f8f8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 32px;
  cursor: pointer;
  padding: 2px;
}
.quantity-ctrl__qtyControl___LvP42 .quantity-ctrl__operator___HaYJA .quantity-ctrl__operation___MIuuc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-ctrl__qtyControl___LvP42 button:disabled {
  background-color: var(--pageBackground, #f8f8f8);
  cursor: default;
  opacity: 0.3;
}
.quantity-ctrl__qtyControl___LvP42 .quantity-ctrl__qtyAmount___NVSUc {
  width: 38px;
  height: 100%;
  border-inline-start: 1px solid var(--dividerStokes, #d4d1d1);
  border-inline-end: 1px solid var(--dividerStokes, #d4d1d1);
  margin: 0px;
  background-color: var(--pageBackground, #f8f8f8);
  display: flex;
  align-items: center;
}
.quantity-ctrl__qtyControl___LvP42 .quantity-ctrl__qtyAmount___NVSUc input {
  border: none;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  background-color: var(--pageBackground, #f8f8f8);
  color: var(--textHeading, #26201a);
}
.quantity-ctrl__qtyControl___LvP42 .quantity-ctrl__qtyAmount___NVSUc input:focus {
  outline: none;
}

/**color by character**/
/** Font family **/
/** Font weight **/
.bag__display-block___U_YPF {
  display: block;
}
.bag__inline-block___EsCVB,
.bag__inlineBlock___mp9L4 {
  display: inline-block;
}
.bag__flex-row___H3VDQ {
  display: flex;
}
.bag__flex-column___vZxz5,
.bag__flexColumn___PMS89 {
  display: flex;
  flex-direction: column;
}
.bag__flex-align-center___T8aC5,
.bag__flexAlignCenter___LYNna {
  display: flex;
  align-items: center;
}
.bag__flex-justify-center___jSKCp,
.bag__flexJustifyCenter___bjZwp {
  display: flex;
  justify-content: center;
}
.bag__flex-center___O2Ft5,
.bag__flexCenter___bzHaa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag__justify-start___hUS24,
.bag__justifyStart___MdodZ {
  justify-content: flex-start;
}
.bag__justify-end___BxxBk,
.bag__justifyEnd___izoJ2 {
  justify-content: flex-end;
}
.bag__justify-between___uaJOI,
.bag__justifyBetween___oYcC6 {
  justify-content: space-between;
}
.bag__justify-around___ZUg_l,
.bag__justifyAround___ad67N {
  justify-content: space-around;
}
.bag__justify-evenly___YZ1NQ,
.bag__justifyEvenly___QBJUu {
  justify-content: space-evenly;
}
h1,
.bag__h1___yv4sn {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h1,
  .bag__h1___yv4sn {
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.bag__h2___Nv1Up {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h2,
  .bag__h2___Nv1Up {
    font-size: 32px;
    line-height: 42px;
  }
}
h3,
.bag__h3___qasNP {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 769px) {
  h3,
  .bag__h3___qasNP {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 28px;
    line-height: 36px;
  }
}
h4,
.bag__h4___Hokuw {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (min-width: 769px) {
  h4,
  .bag__h4___Hokuw {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 20px;
    line-height: 1.5;
  }
}
h5,
.bag__h5___ESfMQ {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h5,
  .bag__h5___ESfMQ {
    font-size: 16px;
    line-height: 18px;
  }
}
.bag__b1___EZ4So {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
}
@media only screen and (min-width: 769px) {
  .bag__b1___EZ4So {
    font-size: 16px;
    line-height: 20px;
  }
}
.bag__b-small___tjwxK,
.bag__bSmall___DZHZ3,
.bag__b2___E69Dc {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 769px) {
  .bag__b-small___tjwxK,
  .bag__bSmall___DZHZ3,
  .bag__b2___E69Dc {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--textBody, #3c3131);
    font-size: 14px;
    line-height: 18px;
  }
}
.bag__d1___Lrxkl {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 769px) {
  .bag__d1___Lrxkl {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: -0.03em;
  }
}
.bag__caption-medium___M57y8,
.bag__captionMedium___j4lTh {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .bag__caption-medium___M57y8,
  .bag__captionMedium___j4lTh {
    font-size: 11px;
  }
}
.bag__caption-semi-bold___NA_Qp,
.bag__captionSemiBold___zsquN {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .bag__caption-semi-bold___NA_Qp,
  .bag__captionSemiBold___zsquN {
    font-size: 11px;
  }
}
.bag__btn-link___uaItG,
.bag__btnLink___b1JQA {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  color: var(--buttonLink, #b1655b);
  text-decoration: underline;
  background: none;
  border: none;
}
@media only screen and (min-width: 769px) {
  .bag__btn-link___uaItG,
  .bag__btnLink___b1JQA {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
.bag__btn-link___uaItG:hover,
.bag__btnLink___b1JQA:hover {
  color: var(--buttonLinkL1, #c1847c);
}
.bag__btn-link___uaItG:disabled,
.bag__btnLink___b1JQA:disabled {
  color: var(--buttonLinkL2, #d0a39d);
}
.bag__btn-link___uaItG:active,
.bag__btnLink___b1JQA:active {
  opacity: 0.8;
}
.bag__user-select-none___oSvos,
.bag__userSelectNone___jEqdR {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.bag__margin-0-auto___e_rAQ,
.bag__margin0auto___E90Pt {
  margin: 0 auto;
}
.bag__base-page-container___ylIRR,
.bag__basePageContainer___FZo_C {
  max-width: 1440px !important;
}
.bag__remove-scroll___Hav2e,
.bag__removeScroll___dGbiR {
  overflow-y: hidden !important;
}
.bag__mr-5___y1uvv,
.bag__mr5___pK91S {
  margin-inline-end: 30px !important;
}
.bag__mr-2____ZqxC,
.bag__mr2___xpjOo {
  margin-inline-end: 5px !important;
}
.bag__py-5___ltsEk,
.bag__py5___R7BsT {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.bag__view-all-text____8XpL,
.bag__viewAllText___np2Kg {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}
.bag__view-all-mobile___dWe4_,
.bag__viewAllMobile___bmkJR {
  display: none;
}
@media only screen and (max-width: 768px) {
  .bag__view-all-mobile___dWe4_,
  .bag__viewAllMobile___bmkJR {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .bag__view-all-mobile___dWe4_,
  .bag__viewAllMobile___bmkJR {
    margin-top: 24px;
  }
}
.bag__accent-btn___HbLIk,
.bag__accentBtn___NeiAY {
  background-color: var(--accentColor);
  color: #fff;
}
.bag__no-scroll___xqcXk,
.bag__noScroll___j6iDv {
  overflow-y: hidden;
}
.bag__hide-overflow___Egp3N,
.bag__hideOverflow___drczI {
  overflow: hidden;
}
.bag__markdown-body___X7Cfk h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  .bag__markdown-body___X7Cfk {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.bag__view3d-canvas___de3_F {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .bag__view-mobile-up___iRON6 {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .bag__view-mobile___IW_HG {
    display: none !important;
  }
}
.bag__bagImg___F1kfj {
  min-width: 80px;
  object-fit: cover;
  border-radius: var(--buttonRadius, 0px);
  overflow: hidden;
}
.bag__bagImg___F1kfj img {
  object-fit: cover;
}
.bag__bundleImg___TEyPU {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 4px;
  gap: 4px;
  aspect-ratio: var(--aspectRatio);
  border: 1px solid var(--dividerStokes, #d4d1d1);
  border-radius: var(--buttonRadius, 0px);
}
.bag__bundleImg___TEyPU .bag__bundleImgItem___slqOT {
  display: flex;
  border-radius: calc(var(--buttonRadius, 0px) / 2);
  overflow: hidden;
  position: relative;
}
.bag__bundleImg___TEyPU .bag__bundleImgItem___slqOT .bag__itemImg___tRLBP {
  display: flex;
}
.bag__bundleImg___TEyPU .bag__bundleImgItem___slqOT .bag__bundleCount___C799t {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #1F1F1FA3;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

/**color by character**/
/** Font family **/
/** Font weight **/
.fy-image__imageWrapper___wKmP2 {
  overflow: hidden;
  position: relative;
}
.fy-image__imageWrapper___wKmP2 picture {
  display: flex;
  align-items: center;
  background-color: var(--bg-color, transparent);
}
.fy-image__imageWrapper___wKmP2 .fy-image__overlay___Dx1Ju {
  position: absolute;
  background-color: var(--overlay-bgcolor);
  z-index: 1;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}
.fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@-moz-document url-prefix() {
  .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR[alt=""] {
    font-size: 0;
    text-indent: -9999px;
    color: transparent;
    line-height: 0;
    letter-spacing: -1000px;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR[alt=""]::before,
  .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR[alt=""]::after {
    display: none;
    content: none;
  }
  .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR .fy-image__imageWrapper___wKmP2 .fy-image__fyImg___yIv86.fy-image__firefoxAltFix___hSfDR {
    transition: opacity 0.2s ease-in-out;
  }
}
.fy-image__imageWrapper___wKmP2.fy-image__fill___rFWVY .fy-image__fyImg___yIv86 {
  object-fit: cover;
}
.fy-image__imageWrapper___wKmP2.fy-image__fixedAspRatio___fyXGS picture {
  aspect-ratio: var(--aspect-ratio-mobile);
}
@media only screen and (min-width: 769px) {
  .fy-image__imageWrapper___wKmP2.fy-image__fixedAspRatio___fyXGS picture {
    aspect-ratio: var(--aspect-ratio-desktop);
  }
}

