@import "../../../../styles//main.less";
.payBtn {
  padding: 14px;
  border-radius: @ButtonRadius;
  background-color: var(--primaryColor);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 140%;
  width: 100%;
  &:hover {
    background-color: @ButtonPrimaryL1;
    color: @White;
  }
}
